.consent-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.consent-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #45a049;
  transform: translateY(-3px);
}

.data-authorization p {
  font-size: 0.5em; /* Letra aún más pequeña */
  color: rgba(0, 0, 0, 0.6); /* Texto medio transparente */
  margin-top: 20px;
  text-align: justify;
}
