/* Home.css */
.home-container {
  text-align: center;
  padding: 50px;
  background: linear-gradient(to right, #4caf50, #81c784);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.home-title {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 10px;
  animation: slide-in 1s ease-out;
}

.home-subtitle {
  font-size: 1.2em;
  color: #f1f1f1;
  margin-bottom: 30px;
  animation: fade-in 2s ease-out;
}

.start-button {
  background-color: #ff4081;
  color: white;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  z-index: 10; /* Asegura que el botón esté por encima de las figuras flotantes */
}

.start-button:hover {
  transform: scale(1.1);
}

.animated-elements {
  pointer-events: none; /* Evita que las figuras flotantes bloqueen el botón de inicio */
}

.animated-elements .floating-shape {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  animation: float 8s infinite ease-in-out;
  z-index: 1; /* Se asegura de que las figuras flotantes queden por detrás de los elementos interactivos */
}

.shape1 {
  width: 120px;
  height: 120px;
  top: 5%;
  left: 15%;
  animation-delay: 0s;
}

.shape2 {
  width: 180px;
  height: 180px;
  bottom: 20%;
  right: 20%;
  animation-delay: 2s;
}

.shape3 {
  width: 90px;
  height: 90px;
  top: 35%;
  right: 25%;
  animation-delay: 4s;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .home-title {
    font-size: 2em;
  }

  .home-subtitle {
    font-size: 1em;
  }

  .start-button {
    padding: 12px 25px;
    font-size: 1em;
  }

  .shape1, .shape2, .shape3 {
    width: 80px;
    height: 80px;
  }
}
